.main {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	overflow: hidden;
}



.title {
	text-align: left;
}




.ingredients{
	display: grid;

	width: 100%;
}


.grid {
	width: 300px;
	display: flex;
	gap:5px;
	flex-direction: row;
}

.right__panel {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 30%;
	height: 80vh;
	overflow-y: auto;
	background-color: #131316;
	text-align:center;
}



.order__summary{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

.price__container {
	display: flex;
	align-items: center;
}
.bottomBun-container {
	position: sticky;
	bottom: 0;
	z-index: 10;
	background: #131316;
	padding-bottom: 10px;
	width: auto}

.order__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
}
.ingredient-container{
	overflow-y: auto;
	flex: 1;
	position: relative;
}
.order__summary {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	justify-content: center;
}

.price__container {
	display: flex;
	align-items: center;
}

.bunSticky-сontainer{
	position: sticky;
	top: 0;
	z-index: 10;
	background:transparent;
}