.main {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: auto;
	gap:40px;
	overflow-y: hidden;
	position: relative;;
}


.right__panel {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 35%;
	height: 76vh;
	overflow-y: hidden;
	background-color: #131316;
	text-align:center;
}

.order__summary{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

.price__container {
	display: flex;
	align-items: center;
}
.bottomBun-container {
	position: sticky;
	bottom: 0;
	z-index: 10;
	background: #131316;
	padding-bottom: 10px;


}

.order__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;
	list-style: none;
	width: 100%;
}
.ingredient-container{
	display: flex;
	align-items: center;
	gap: 10px;
	overflow-y: auto;
	position: relative;
	height: auto;
	padding-bottom: 15px;
	padding-top: 15px;

}
.ingredientsStub.hovered {
	border-color: #4C4CFF;
}
.bunStub.hovered {
	border-color: #4C4CFF;
}
.order__summary {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	justify-content: center;
}
.order__item{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

.price__container {
	display: flex;
	align-items: center;
}

.bunSticky-сontainer{
	position: sticky;
	top: 0;
	z-index: 10;
	background:transparent;
}
.bunStub, .ingredientsStub {
	user-select: none;
	height: 75px;
	width: 500px;
	background-color: var(--background-element);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 5px dashed transparent;
	border-radius: 10px;
	transition: border 0.2s ease;

}

.bunStub.top {
	border-radius: 60px 60px 25px 25px;
}

.bunStub.bottom {
	border-radius: 25px 25px 60px 60px ;
}

.ingredientsStub {
	border-radius: 60px;
}
