.left__panel {
	display: flex;
	flex-direction: column;
	width: 600px;
	align-items: flex-start;
	overflow-y: auto;
	height: 800px;
	overflow-x: hidden;
	position: relative;

}
.tabs {
	top: 0;
	z-index: 10;
	position: sticky;
	 display: flex;

 }