.main {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 40px;
	height: 100vh;
	overflow: hidden;
}

.left__panel {
	display: flex;
	flex-direction: column;
	width: 800px;
	align-items: flex-start;
	overflow-y: auto;

}

.title {
	text-align: left;
}

.tabs {
	width: 100%;
	display: flex;
	align-items: flex-start ;
}

.ingredients{
	display: grid;
	gap: 16px;
	width: 100%;
}


.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}

.right__panel {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 30%;
	height: 80vh;
	overflow-y: auto;
	background-color: #131316;
	text-align:center;
}



.order__summary {

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

.price__container {
	display: flex;
	align-items: center;
}
.bottom__sticky-container {
	position: sticky;
	bottom: 0;
	z-index: 10;
	background: #131316;
	padding-bottom: 10px;
		width: auto}

.order__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
}
.ingredient-container{
	overflow-y: auto;
	flex: 1;
	position: relative;
}
.order__summary {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	justify-content: center;
}

.price__container {
	display: flex;
	align-items: center;
}

.sticky__container{
	position: sticky;
	top: 0;
	z-index: 10;
	background:transparent;
}