.wrapper {

	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.link{
	color:var(--colors-interface-accent);
	text-decoration: none;
}
.form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.links{
	display:flex;
	flex-direction: column;
	align-items: center;
}